<div class="px-4 py-3" x-data="footerInfo">
    <div class="text-center text-gray-600">
        <!-- Loading state -->
        <div x-show="loading" class="animate-pulse">
            <div class="h-4 w-48 bg-gray-200 rounded mx-auto mb-2"></div>
            <div class="h-4 w-32 bg-gray-200 rounded mx-auto"></div>
        </div>
        
        <!-- Error state -->
        <div x-show="error" class="text-red-600" x-text="error"></div>
        
        <!-- Version info -->
        <div x-show="!loading && !error">
            <p>
                <span x-text="data.appName"></span>
                <a href="/api/v1/docs#/operations/getVersion" target="_blank" class="underline">
                    <span x-show="data.version">v</span><span x-text="data.version"></span>
                </a>
            </p>
            <p x-text="data.copyright"  class="text-sm mt-1"></p>
            
        </div>
    </div>
</div> 